﻿body {
    background-color: var(--dark);
    color: var(--light);
}

input.styled, textarea.styled {
    background-color: var(--gray-dark) !important;
    color: var(--light) !important;
}

hr {
    background-color: var(--light) !important;
}