﻿@model NotesNET.Models.TodoItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Todo bearbeiten</h2>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="Title" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Title" class="form-control styled" />
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="Text" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <textarea asp-for="Text" class="form-control styled"></textarea>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>   
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="Importance" class="col-form-label"></label>
                </div>
                <div class="col-sm-9 rating">
                    <input asp-for="Importance" type="radio" class="rating-input"
                           id="star5" value="5">
                    <label for="star5" class="rating-star"></label>
                    <input asp-for="Importance" type="radio" class="rating-input"
                           id="star4" value="4">
                    <label for="star4" class="rating-star"></label>
                    <input asp-for="Importance" type="radio" class="rating-input"
                           id="star3" value="3">
                    <label for="star3" class="rating-star"></label>
                    <input asp-for="Importance" type="radio" class="rating-input"
                           id="star2" value="2">
                    <label for="star2" class="rating-star"></label>
                    <input asp-for="Importance" type="radio" class="rating-input"
                           id="star1" value="1">
                    <label for="star1" class="rating-star"></label>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Importance" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="FinishDate" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="FinishDate" class="form-control styled"/>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="FinishDate" class="text-danger"></span>
                </div>
            </div>
            
            <!-- hidden fields-->
            <div class="form-group" style="visibility: hidden">
                <label asp-for="CreatedDate" class="col-form-label"></label>
                <input asp-for="CreatedDate" class="form-control styled" type="hidden"/>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility: hidden">
                <label asp-for="Id" class="col-form-label"></label>
                <input asp-for="Id" class="form-control styled" type="hidden" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="form-check col-sm-12">
                    <label>
                        <input asp-for="Finished" /> @Html.DisplayNameFor(model => model.Finished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
