﻿@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http
@using NotesNET.Controllers
@inject IViewSettings ViewSettings
@model IEnumerable<NotesNET.Models.TodoItem>

@{
    ViewData["Title"] = "List";
}

@*The code that added additional css classes would have gotten too complex to be inlined, so we just added this helper method instead*@
@functions{
    public string GetAdditionalCssClassesWhenActiveSortOrderIs(OrderType orderType)
    {
        var classList = string.Empty;

        if (ViewSettings.CurrentSortOrder == orderType)
        {
            classList += "btn-info";

            //Add ascending, descending symbol for active button
            if (ViewSettings.CurrentOrderDirection == OrderDirection.Ascending)
            {
                classList += " btn-ascending";
            }
            else
            {
                classList += " btn-descending";
            }
        }
        else
        {
            classList += "btn-light";
        }



        return classList;
    }
}

<h2>Alle Todos</h2>
<hr />

<div class="form-group row no-gutters">
    <div class="col-sm-auto col-12 m-1">
        <a asp-action="Create" class="btn btn-primary">Neue Notiz erstellen</a>
    </div>
    <div class="col-sm-auto col-12 ml-sm-auto m-1">
        <a asp-action="ChangeStyle" asp-route-newStyle="@ViewSettings.OppositeStyleOfCurrent" class="btn btn-light ml-auto"> Switch to @ViewSettings.OppositeStyleOfCurrent</a>
    </div>
</div>
<div class="form-group row no-gutters">
    <div class="col-sm-5 col-md-auto col-12 m-1">
        <a 
            asp-action="ChangeSortOrder" 
            asp-route-newSortOrder="@OrderType.Importance" 
            asp-route-newOrderDirection="@ViewSettings.OppositeOfCurrentOrderDirection" 
            class="btn @(GetAdditionalCssClassesWhenActiveSortOrderIs(OrderType.Importance))">Wichtigkeit</a>
    </div>
    <div class="col-sm-5 col-md-auto col-12 m-1 ml-md-0 ml-sm-auto ml-1">
        <a 
            asp-action="ChangeSortOrder" 
            asp-route-newSortOrder="@OrderType.FinishedDate" 
            asp-route-newOrderDirection="@ViewSettings.OppositeOfCurrentOrderDirection"
            class="btn @(GetAdditionalCssClassesWhenActiveSortOrderIs(OrderType.FinishedDate))">Enddatum</a>
    </div>
    <div class="col-sm-5 col-md-auto col-12 m-1">
        <a 
            asp-action="ChangeSortOrder" 
            asp-route-newSortOrder="@OrderType.CreatedDate" 
            asp-route-newOrderDirection="@ViewSettings.OppositeOfCurrentOrderDirection"
            class="btn @(GetAdditionalCssClassesWhenActiveSortOrderIs(OrderType.CreatedDate))">Erstelldatum</a>
    </div>
    <div class="col-sm-5 col-md-auto col-12 ml-sm-auto m-1 ">
        <a 
            asp-action="ChangeFilterFinished" 
            asp-route-filterFinished="@(!ViewSettings.FilterFinishedItems)" 
            class="btn @(ViewSettings.FilterFinishedItems ? "btn-info" : "btn-light")">Erledigte ausblenden</a>
    </div>
</div>

<hr />

@foreach (var item in Model)
{
    <div class="form-group row no-gutters">
        <div class="col-sm-3 col-auto">
            <div class="row">
                <div class="col-auto col-sm-12 small">@Html.DisplayFor(modelItem => item.CreatedDate)</div>
                <div class="col-auto ml-auto col-sm-12">
                    <strong>
                        @(item.Finished ? "finished" : "")
                    </strong>
                </div>
                <div class="col-auto ml-auto col-sm-12"><strong>[@Html.DisplayFor(modelItem => item.FinishDate)]</strong></div>
            </div>
        </div>
        <div class="col-sm-7 col-12">
            <div style="float: left">@item.Title</div>
            <div style="float: right">
                <span>
                    <label class=@(item.Importance>4?"rating-star-selected":"rating-star")></label>
                    <label class=@(item.Importance>3?"rating-star-selected":"rating-star")></label>
                    <label class=@(item.Importance>2?"rating-star-selected":"rating-star")></label>
                    <label class=@(item.Importance>1?"rating-star-selected":"rating-star")></label>
                    <label class=@(item.Importance>0?"rating-star-selected":"rating-star")></label>
                </span>
            </div>
            <textarea class="form-control styled" readonly>@item.Text</textarea>
        </div>
        <div class="col-sm-auto col-12 align-self-end ml-auto m-1">          
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary edit-btn" })
        </div>
    </div>
}